/* CSS Variables, https://developer.mozilla.org/en-US/docs/Web/CSS/--* */
/* :root is defining global variables */
/* Defining colours, https://www.w3.org/wiki/CSS/Properties/color/keywords */
:root {
    --red: red;
    --antiquewhite: #faebd7;
    --hotpink: #ff69b4;
    --burlywood: #deb887;
    --dodgerblue: dodgerblue;
}

/* CSS Selector, https://www.w3schools.com/cssref/sel_all.asp */
/* Select all elements */
* {
    box-sizing: border-box;
    margin: 0;
    font-family:'Times New Roman', Times, serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to bottom left,#007991, #78ffd6); 
}

/* Overall Header */
header {
    padding: 20px 20px;
    max-width: 500px;
    max-height: 700px;
    width: 100%;
    margin: 0 auto;
}

/* Header h1 */
header h1 {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 5px;
    text-align: center;
    color: white;
}   

/* ID selector # */
#taskProject {
    display: flex;
}

/* Defining none to input own style */
input, button {
    background: none;
    border: none;
    outline: none;
}

/* Text Box */
#taskInput {
    flex: 1 1 0%; /* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Basic_Concepts_of_Flexbox */
    padding: 10px;
    font-size: 15px;
    border: 6px double var(--burlywood);
    background-color: var(--antiquewhite); 
    color: var(--hotpink); /* Color of input text */
    margin-right: 0;
}

/* Submit Button */
#taskSubmit {
    font-size: 15px;
    font-weight: bold;
    border: 6px double var(--burlywood);
    background-color: var(--antiquewhite); 
    color: var(--hotpink);
    cursor: pointer;
}

main {   
    padding: 20px 20px;
    max-width: 500px;
    max-height: 700px;
    width: 100%; /* Can Delete if wan center */
    margin: 0 auto;
}

/* Class Selector . */
/* Header h2 */
.taskList h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 5px;
    color: white;
    text-align: center;
}

/* List of task */
#tasks .task {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border: 6px double var(--burlywood);
    background-color: var(--antiquewhite); 
}

#tasks .task .content {
    flex: 1 1 0%;
}

/* Task Text */
#tasks .task .content .text {
    color: var(--hotpink);
    font-size: 15px;
    width: 100%;
}

.task .actions button {
    margin: 0 1px;
    font-size: 15px;
    font-weight: bold;  
    cursor: pointer;
}

.task .actions .edit {
    color: var(--dodgerblue);
}

.task .actions .delete {
    color: var(--red);
}